* {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1160px;
  padding: 0px 30px;
  margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6 {
  line-height: 150%;
}

.title-often {
  color: #22343D;
  font-size: 32px;
  font-weight: 700;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  padding: 19px 0px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item:not(:last-child) {
  padding-right: 24px;
}
.menu__link {
  padding: 10px 0px;
  font-weight: 400;
  color: #22343D;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu__link:hover {
  color: #02897A;
}
.menu .active {
  font-weight: 600;
}
.menu__btn {
  padding: 10px 25px;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  font-weight: 600;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__text {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #173A56;
}

.btn {
  background: #02897A;
  color: #fff;
  border: 1px solid #BCD0E5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #fff;
  color: #02897A;
  font-weight: 600;
}

.sec-top {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec-top__title {
  font-size: 40px;
  font-weight: 700;
  color: #22343D;
}
.sec-top__paragraph {
  font-size: 18px;
  line-height: 32px;
  padding: 18px 0px 45px 0px;
}
.sec-top__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec-top__btn-1 {
  padding: 15px 40px;
  border-radius: 4px;
}
.sec-top__btn-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sec-top__btn-2 p {
  color: #02897A;
  text-decoration: underline;
  margin-left: 10px;
  font-weight: 600;
}
.sec-top__playicon {
  width: 20px;
  height: 20px;
}
.sec-bottom__title {
  padding: 114px 0px 57px 0px;
  text-align: center;
  line-height: 1.5;
}
.sec-bottom__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sec-bottom__icon-name {
  font-size: 22px;
  font-weight: 600;
  padding: 30px 0px 14px 0px;
}
.sec-bottom__btn {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sec-bottom .bottom__btn {
  padding: 15px 32px;
  font-weight: 700;
  border-radius: 4px;
  line-height: 1.5;
}

.sec-info1 {
  margin-top: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec-info__text {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.sec-info__paragraftitle {
  font-weight: 600;
}
.sec-info__photo {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.info-subtitle {
  font-weight: 600;
}

.sec-info2 {
  margin: 186px 0px 168px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
.sec-info2__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.sec-info2__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.sec-info2__icon {
  -o-object-fit: none;
     object-fit: none;
}
.sec-info3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us {
  margin-top: 220px;
}
.about-us__text {
  text-align: center;
}
.about-us__paragaraph {
  font-weight: 500;
  padding: 16px 0px 32px 0px;
}
.about-us__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.worker {
  width: 84%;
  margin: 0 auto;
}
.worker__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.worker__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.worker__description {
  -webkit-box-shadow: 0px 2px 15px 0px #173A561A;
          box-shadow: 0px 2px 15px 0px #173A561A;
  height: 53px;
  width: 274px;
  border-radius: 26.5px;
  position: relative;
}
.worker__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.worker__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.avatar-job {
  line-height: 53px;
  text-align: center;
}

.element1, .element2, .element3, .element4 {
  background: #fff;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
}

.element1, .element4 {
  top: 79%;
  left: 13%;
}

.element2, .element3 {
  top: 79%;
  right: 13%;
}

.experts {
  padding: 15px 30px;
  border-radius: 4px;
}

.our-strategy {
  margin-top: 100px;
}

.sg-slider {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.sg-card {
  border: 2px solid #ebe1e1;
  border-radius: 8px;
}
.sg-card__author {
  word-spacing: 1px;
  color: #22343D;
  padding: 15px 12px 0px 24px;
}
.sg-card__text {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #22343D;
  padding: 0px 30px 40px 22px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bold-name {
  font-weight: 700;
}

.slider__link:hover .sg-card__text {
  color: #02897A;
}

.balls {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.balls__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #EFEFEF;
}

.ball-bg {
  background: #02897A;
}

.costs {
  margin-top: 150px;
}
.costs__text {
  text-align: center;
}
.costs__subtitle {
  font-weight: 500;
  padding: 8px 0px 50px 0px;
}
.costs__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
.cost-card:hover {
  color: #fff;
  background: #02897A;
}

.cost-card:hover .sum__money {
  color: #fff;
}

.cost-card:hover .sum__number {
  color: #fff;
}

.cost-card {
  padding: 24px 65px 32px 73px;
  -webkit-box-shadow: 0px 2px 8px 0px #00000040;
          box-shadow: 0px 2px 8px 0px #00000040;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cost-card__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}
.cost-card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
.cost-card__uslugi {
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.sum__number {
  font-size: 76px;
  font-weight: 700;
  line-height: 100px;
  color: #02897A;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sum__no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sum__money {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #02897A;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sum__month {
  color: #AFAFAF;
  letter-spacing: 0.1px;
}

.cost-card__button {
  margin-top: 49px;
  border-radius: 8px;
}

.cost-card__link {
  padding: 11px 19px;
  border-radius: 8px;
}

.clients {
  margin-top: 150px;
}
.clients__text {
  text-align: center;
  color: #22343D;
}
.clients__title {
  font-weight: 700;
  font-size: 34px;
}
.clients__subtitle {
  font-weight: 500;
  padding: 8px 0px 50px 0px;
}
.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 65px;
     -moz-column-gap: 65px;
          column-gap: 65px;
}
.clients__item {
  padding: 25px;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
}
.clients__say {
  color: #737373;
  line-height: 28px;
  padding: 16px 0px;
}
.clients__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.clients__name {
  font-weight: 600;
  color: #02897A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.clients__job {
  font-weight: 500;
  color: #252b42;
}

.rek-banner {
  width: 84%;
  margin: 0 auto;
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #02897A;
  border-radius: 32px;
}
.rek-banner__text {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.rek-banner__title {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  line-height: 48px;
}
.rek-banner__button {
  display: inline;
}
.banner-btn {
  color: #02897A;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  background: #fff;
  padding: 13px 33px;
  border: 1px solid #f7f0f0;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.banner-btn:hover {
  background: inherit;
  color: #fff;
}

.footer {
  margin-top: 154px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.footer__logo-messenger {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.footer__recource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.footer__link {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__link:hover {
  color: #02897A;
}
.footer__legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.footer__forms {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.footer__btn {
  border-radius: 4px;
  padding: 8px 15px;
}

.messengers {
  margin-top: 20px;
}
.messengers_item:nth-child(2) {
  margin: 0 20px;
}

.f-form__label {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #22343D;
}
.f-form__inpet {
  border: 1px solid #BCD0E5;
  display: block;
  width: 100%;
  height: 48px;
  margin: 34px 0px;
}

.footer__bottom {
  margin-top: 26px;
  padding-bottom: 46px;
  text-align: center;
  color: #22343D;
}

@media (max-width: 500px) {
  .container {
    overflow: hidden;
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }

  .menu {
    position: relative;
    display: block;
    padding: 19px 0px;
  }
  .menu .menu__burger {
    position: absolute;
    width: 40px;
    height: 35px;
    display: block;
    background: #fff;
    top: 22px;
    right: 0px;
  }
  .menu .menu__burger span, .menu .menu__burger::after, .menu .menu__burger::before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #173A56;
    margin: 0 auto;
  }
  .menu .menu__burger span {
    top: 16px;
  }
  .menu .menu__burger::after {
    bottom: 5px;
  }
  .menu .menu__burger::before {
    top: 5px;
  }
  .menu .menu__burger::before, .menu .menu__burger::after {
    content: "";
  }
  .menu .menu__burger.open-menu span {
    opacity: 0;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .menu .menu__burger.open-menu::before {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    top: 16px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu .menu__burger.open-menu::after {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    bottom: 16px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu .menu__list.open-menu {
    right: 0;
  }
  .menu__list {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    position: absolute;
    background: #faf6f6;
    padding-top: 30px;
    padding-left: 180px;
    top: 30px;
    right: -130%;
    width: 420px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .menu__item {
    margin-bottom: 60px;
    font-size: 22px;
  }
  .menu__link {
    padding: 10px 15px;
  }
  .menu .active {
    font-weight: 600;
  }
  .menu__btn {
    width: 120px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid #02897A;
    font-weight: 600;
  }

  .sec-top {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec-top__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .sec-top__title {
    font-size: 36px;
    line-height: 60px;
  }
  .sec-top__btn-1 {
    padding: 15px 0px 15px 22px;
    border-radius: 4px;
    width: 142px;
  }
  .sec-top__playicon {
    margin-top: 10px;
  }
  .sec-top__photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .sec-top__img {
    width: 100%;
  }

  .sec-bottom__title {
    text-align: center;
  }
  .sec-bottom__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 50px;
  }

  .sec-info1 {
    margin: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px;
  }

  .sec-info__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .sec-info__photo {
    width: 300px;
    height: 300px;
  }
  .sec-info__img {
    width: 100%;
  }

  .sec-info2 {
    margin: 90px 0px 50px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }
  .sec-info2__photo {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
  }
  .sec-info2__img {
    width: 100%;
  }
  .sec-info2__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .sec-info3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }

  .about-us {
    margin-top: 80px;
  }
  .about-us__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }

  .experts {
    padding: 20px 16px;
  }

  .worker img {
    width: 100%;
  }
  .worker .worker__description {
    width: 290px;
    font-size: 13px;
  }
  .worker__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px;
    margin-bottom: 30px;
  }
  .worker__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
  .worker__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .worker__item2 {
    margin-top: 0px;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }

  .cost-card__button {
    width: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .sg-slider {
    margin-top: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }

  .sg-card {
    border: none;
    border-radius: 8px;
  }
  .sg-card__author {
    word-spacing: 1px;
    color: #22343D;
    padding: 15px 0px 0px 0px;
  }
  .sg-card__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: #22343D;
    padding: 0px 30px 40px 0px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .balls {
    display: none;
  }

  .costs {
    margin-top: 50px;
  }
  .costs__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
  .costs .cost-card__link {
    padding: 8px;
  }

  .clients {
    margin-top: 90px;
  }
  .clients__text {
    text-align: center;
    color: #22343D;
  }
  .clients__subtitle {
    font-weight: 500;
    padding: 8px 0px 32px 0px;
    line-height: 1.5;
  }
  .clients__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
  }

  .rek-banner {
    margin-top: 100px;
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 40px;
    background: #02897A;
    border-radius: 32px;
  }
  .rek-banner__text {
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 50px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .rek-banner__photo {
    width: 300px;
    height: 300px;
  }
  .rek-banner__photo img {
    width: 100%;
  }

  .footer {
    margin-top: 100px;
    text-align: center;
  }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
  }
}